body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}
.colour{
    color:aqua;
}
.heading {
    display: flex;
    font-size: 38px;
    border-left: 5px solid;
    border-image: linear-gradient(pink,red);
    border-image-slice: 1;
    margin-bottom: 20px;
    height: 175px;
    padding:5px;
}

#left-border{
    height:120px;
}
    
.button{
    text-decoration: none;
    color:white;
    background-image:linear-gradient(rgb(20, 147, 206),rgb(63, 231, 77));
    padding:10px 10px;
    margin-top:40px;
}
.flexible{
    display: flex;
}
.division{
    width:50%;
    margin-left: 5%;
    height:100px;
    margin-top: 10px;
    text-align: justify;
}
.division img{
    width:55%;
    margin-left:200px;
}

.title{
    margin-top:-45px;
}
.main{
    margin-bottom:350px;
}
#center{
    text-align: center;
    font-size:30;
}
.second{
    margin-top: 50px;
    width:25%;
    margin-left:4%;
    padding: 20px;
    box-shadow: 10px 10px 30px rgb(77, 6, 6);
    border-radius: 5px;
    margin-bottom:100px;
}

.second img{
    width:30%;
}
#clr1{
    background-color: hsl(33, 100%, 88%);
}
#clr2{
    background-color:rgb(245, 147, 163);
}
#clr3{
    background-color: rgb(130, 223, 195);
}

.third{
    width:30%;
    margin-left: 100px;
    text-align:justify;
    padding:20px;
    height: 100px;
    margin-bottom:300px;
}
.third img{
    width:80%;
}

.distance{
    margin-left:200px;
}

.form h2 {
    text-align: center;
    font-size: 43px;
    color: #3e3d3b;
    padding: 17px;
    border-bottom: 4px solid black;
}
.contact{
    text-align:center;
    margin-top: -35px;
    padding: 30px;
     background-color:rgb(94, 183, 243)
}
.contact input{
   padding: 6px 10px;
   margin: 4px 0px;
   width: 300px;
   border-radius: 3px;
   border: none;
   
}
#subBtn{
    padding: 10px 40px;
    background-image: linear-gradient(-45deg, rgb(212, 50, 50), rgb(199, 134, 15));
    border: none;
    border-radius: 3px;
    color: rgb(62, 193, 216);
}

